body{
	font-size: 16px;
	margin: 0 auto;
	max-width: 1200px;
	min-width: 1200px;
}

header nav{
	border: 1px solid blue;
}
header nav ul{
	padding: 0;
	border: 2px solid orange;
}
header nav ul li{
	color: blue;
	display: inline-block;
	font-size: 1.13em;
	margin-right: 20px;
	margin-bottom: 10px;
}

#imgpost{
	border: 10px solid lightgrey;
	float: left;
	position: relative;
}

#primerseccion{
	border: 1px solid red;
}


#secc01art01{
	border: 1px solid red;
	display: inline-block;
	width: 60%;
	margin-left: 30px;
}

#secc01art01 img{
	border-bottom: 1px solid grey;
	width: 100%
}


#secc01art02{
	margin-top: 74px;
	vertical-align: top;
	display: inline-block;
	margin-left: 50px;
	width: 30%
}

#segundaseccion article{
	margin-left: 30px;
	display: inline-block;
	vertical-align: top;
	width: 58%;
	border: 1px solid pink;
}

#TitPost{
	text-align: left;
	font-size: 2em;
	font-weight: bold;
	color: grey;
	margin-left: 30px;
}

.lorem{ 
	display: inline-block;
    width: 56%;
    margin-top: 15px;
    margin-left: 10px;
}


.mithemaenhtml5{

	float: left;
	margin-top: 40px;
}


#segundaseccion article img{
	vertical-align: top;
}

#red1{
	float: right;
}

#red2{
	float: right;
}

#red3{
	float: right;
}

.poradmin{
	border-radius: 10px;
	border: 1px solid black;
	padding-left: 10px;
	padding-right: 190px; 
	display: inline-block;
	margin-left: 20px;
	margin-top: 15px;
}


